#ss
{
    width: 97vw;
    border: 5px solid black;
    height: 500vh;
    background-image: url(../img/llop.jfif);
    position: relative;
    line-height: 1093px;
    text-align: center;
}
.aa
{
    width: 8vw;
    border: 2px solid green;
    padding: 5px;
    height:15vh;
    position: absolute;
    text-align: center;
    font-size: medium;
    line-height: 90px;
}
div:nth-child(1)
{
    top:0;
    background-image: url('../img/download.jfif');
}
div:nth-child(2)
{
    background-color: green;
    top: 140;
    left: 110;
}
div:nth-child(3)
{
    background-color:yellowgreen;
    top: 270;
    left: 210;
}
div:nth-child(4)
{
    background-color:orangered;
    top: 400;
    left: 310;
}
div:nth-child(5)
{
    background-color:orange;
    top: 400;
    left: 550;
}
div:nth-child(6)
{
    background-color:red;
    top:0;
    left: 860;
}
div:nth-child(7)
{
    background-color:black;
    top: 140;
    left:760;
}
div:nth-child(8)
{
    background-color:violet;
    top: 270;
    left:660;
}

